ParkDACE/ParkDACE/Connected Services/SOAPSpotBotService/SOAPSpotBotService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParkingSpot" nillable="true" type="tns:ArrayOfParkingSpot" />
  <xs:complexType name="ParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" name="batteryStatus" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>